/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

/* * {
  outline: 1px red solid;
} */

.page {
  font-family: var(--font-family, "Inter-Variable", monospace, sans-serif);
  font-variation-settings: "wght" var(--main-font-weight, 400);
  color: var(--accent-color, #000000);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-size: cover;
  background-image: repeating-linear-gradient(
      to right,
      #d3d3d3 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0.01%, #1a1a1a 100%);
  background-attachment: fixed;
  display: grid;
  justify-content: center;
}

.header {
  --padding: 120px 14px;

  padding: var(--padding);
  margin-block-start: var(--margin-block-start, 100px);
  font-family: var(--accent-font-family, "Press Start 2P", fantasy, sans-serif);
  background-color: var(--background-color, #ffffff);
  margin-block-end: var(--margin-block-end, 100px);
  display: grid;
  inline-size: 100%;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.border {
  border: var(--border, 2px solid currentColor);
}

.header__cover {
  gap: var(--gap, 20px);
  display: grid;
}

.header__logo {
  text-align: center;
  font-size: clamp(2.5rem, -0.7727rem + 16.3636vw, 3.0625rem);
  text-decoration: none;
}

.header__title {
  text-align: center;
  font-size: clamp(0.625rem, -0.8295rem + 7.2727vw, 0.875rem);
}

.main {
  display: grid;
  justify-self: center;
  justify-content: center;
  inline-size: 100%;
}
.section__main {
  display: grid;
}

.post-list {
  --gap: 48.8px;

  gap: var(--gap);
  display: grid;
}

.fill-color {
  background-color: var(--background-color, #ffffff);
}

.list__title {
  font-variation-settings: "wght" var(--card-title-font-weight, 700);
  padding-block-start: var(--padding-block-start, 3px);
  padding-block-end: var(--padding-block-end, 5.5px);
  padding-inline-start: var(--padding-inline-start, 10px);
  padding-inline-end: var(--padding-inline-end, 34.5px);
  border-block-end: #000000 2px solid;
}

.list__font {
  --font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);

  font-size: var(--font-size);
}

.list__title:first-of-type {
  --padding-block-start: 4px;
  --padding-block-end: 6px;

  padding-block-start: var(--padding-block-start);
  padding-block-end: var(--padding-block-end);
}

.section {
  position: relative;
}

.about__sprint-image {
  display: block;
  inline-size: 100%;
  min-block-size: 375px;
  max-block-size: 696px;
  object-fit: cover;
  object-position: top center;
}

.filter__saturate-opacity-invert-brightness {
  filter: saturate(110%) opacity(90%) invert(1) brightness(0.8);
}

.filter__brightness-contrast-sepia {
  filter: brightness(95%) contrast(150%) sepia(0.45);
}

.filter__contrast-brightness {
  filter: contrast(110%) brightness(0.8);
}

.filter__hue-rotate__opacity {
  filter: hue-rotate(0.9turn) opacity(80%);
}

.filter__saturate-contrast-brightness {
  filter: saturate(1.3) contrast(1.3) brightness(0.9);
}

.filter__brightness-contrast-saturate-hue-rotate {
  filter: brightness(1) contrast(1.1) saturate(1.2) hue-rotate(0.4turn);
}

.filter__drop-shadow-contrast {
  filter: drop-shadow(30px 30px 30px rgba(8, 8, 8, 0.7)) contrast(1.2);
}

.filter__saturate__hue-rotate {
  filter: brightness(0.9) grayscale(20%) contrast(0.9);
}

.img__label {
  --font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --line-height: 100%;

  font-family: var(--accent-font-family, "Press Start 2P", fantasy, sans-serif);
  font-size: var(--font-size);
  line-height: var(--line-height);
  content: "";
  position: absolute;
  top: 25px;
  right: 13px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-transform: lowercase;
  text-shadow: 1px 0 var(--background-color, #ffffff);
}

@supports (
  (text-stroke: 1px var(--background-color, #ffffff)) or
    (-webkit-text-stroke: 1px var(--background-color, #ffffff))
) {
  .img__label {
    -webkit-text-stroke: 1px var(--background-color, #ffffff);
    text-stroke: 1px var(--background-color, #ffffff);
    text-shadow: none;
  }
}

.text-transform {
  text-transform: uppercase;
}

.post__text {
  --gap: 25px;

  gap: var(--gap);
  padding: var(--padding, 25px);
  display: grid;
  border-block-start: 2px solid #000000;
}

.list__text {
  --gap: 25px;

  gap: var(--gap);
  line-height: var(--line-height, 21px);
  display: grid;
}

.icon-button__like-button {
  display: flex;
  justify-content: end;
  justify-self: end;
  inline-size: 169px;
  block-size: 38px;
  align-content: center;
  gap: 5px;
}

.card__icon-button {
  --background-color: transparent;
  --padding: 0;

  background-color: var(--background-color);
  border-color: var(--border-color, transparent);
  border: var(--border) currentColor;
  padding: var(--padding);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: -2px;
  transition: 0.3s ease;
}

.card__like-button {
  border: var(--border, 2px solid currentColor);
  display: flex;
  justify-self: end;
  min-inline-size: 130px;
  block-size: 38px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.button {
  --background-color: transparent;
  --font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --line-height: 90%;
  --padding: 0;

  background-color: var(--background-color);
  font-family: var(--accent-font-family, "Press Start 2P", fantasy, sans-serif);
  line-height: var(--line-height);
  font-size: var(--font-size);
  padding: var(--padding);
  position: relative;
  overflow: hidden;
}

.button::before {
  --background-color: #ffffff;

  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background-color, #ffffff);
  transition: 0.5s ease-in-out;
  z-index: 1;
  transform: translateX(-100%);
  mix-blend-mode: difference;
}

.button:hover::before {
  transform: translateX(0);
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px #000000;
  transition: 0.3s ease;
}

.button__text {
  --accent-color: #ffffff;
  --font-size: 14px;
  --line-height: 150%;

  mix-blend-mode: difference;
  color: var(--accent-color);
  font-size: var(--font-size);
  line-height: var(--line-height);
  z-index: 1;
}

.section__memory {
  --margin-block-start: 51px;
  --margin-block-end: 100px;

  display: grid;
  justify-content: center;
  align-items: center;
  margin-block-start: var(--margin-block-start, 51px);
  margin-block-end: var(--margin-block-end, 100px);
}

.memory-button {
  --background-color: #ffffff;

  background-color: var(--background-color);
  min-inline-size: 311px;
  block-size: 84px;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-self: center;
  border: var(--border, 2px solid currentColor);
  row-gap: 6px;
}

.floppy {
  --accent-color: #ffffff;

  color: var(--accent-color);
  inline-size: 28px;
  block-size: 28px;
  justify-self: center;
  mix-blend-mode: difference;
  z-index: 1;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

/* .dialog {
  --padding: 30px 42px;

  padding: var(--padding);
  font-family: var(--accent-font-family, "Press Start 2P", sans-serif);
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  column-gap: 19px;
  position: fixed;
  inset: 0;
  transition: opacity 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  min-inline-size: 341px;
  block-size: 195px;
  row-gap: 30px;
  text-transform: uppercase;
}

.dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

.floppy__dialog {
  min-width: 39px;
  max-width: 39px;
  min-height: 39px;
  max-height: 39px;
}

.ok-button__dialog {
  border: var(--border);
  block-size: 38px;
  grid-row: span 2;
  grid-column: span 2;
  cursor: pointer;
  inline-size: 100%;
} */

.dialog[open] {
  --padding: 30px 39px;

  padding: var(--padding);
  font-family: var(--accent-font-family, "Press Start 2P", fantasy, sans-serif);
  display: grid;
  column-gap: 20px;
  transition: opacity 0.3s ease-in-out;
  justify-content: center;
  align-items: center;
  min-inline-size: 341px;
  row-gap: 30px;
  text-transform: uppercase;
}

.align-content {
  display: flex;
  gap: 20px;
}

.floppy__dialog {
  min-width: 39px;
  max-width: 39px;
  min-height: 39px;
  max-height: 39px;
  align-self: center;
}

.ok-button__dialog {
  border: var(--border, 2px solid currentColor);
  block-size: 38px;
  cursor: pointer;
  inline-size: 100%;
  text-transform: uppercase;
  padding: 12.5px 112.5px;
}

@media (width > 700px) {
  .header {
    --padding: 128px 120.5px;

    padding: var(--padding);
    inline-size: max(calc(1440px - 740px), 375px);
    justify-self: center;
  }

  .header__logo {
    font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  }

  .header__title {
    font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  }

  .section__main {
    max-inline-size: 696px;
    justify-self: center;
  }

  .post-list {
    --gap: 53px;
  }

  .list__title {
    --padding-block-end: 3px;
    --padding-inline-end: 24px;

    padding-block-start: var(--padding-block-start);
    padding-inline-start: var(--padding-inline-start);
  }

  .list__title:first-of-type {
    --padding-block-end: 3px;

    padding-block-start: var(--padding-block-start, 3px);
    display: flex;
  }

  .about__sprint-image {
    object-fit: cover;
    object-position: top;
  }

  .img__label {
    top: 27px;
    right: 25px;
  }

  .post__text {
    --padding-inline-start: 23px;
  }

  .list__text-description {
    --line-height: 21.1px;
  }

  .section__memory {
    --margin-block-start: 50px;
    --margin-block-end: 103px;
  }

  .memory-button {
    min-inline-size: 339px;
    block-size: 55px;
    display: flex;
    align-items: center;
    column-gap: 8px;
  }

  .floppy {
    inline-size: 21px;
    block-size: 21px;
  }

  .dialog[open] {
    --padding: 30px;

    padding: var(--padding);
    max-inline-size: 356px;
  }
}
