/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: "Inter-Variable", monospace;
  --accent-font-family: "Press Start 2P", monospace;
  --accent-font-weight: 400;
  --main-font-weight: 410;
  --card-title-font-weight: 715;
  --background-color: #ffffff;
  --background-color-header: #ffffff;
  --background-color-button: transparent;
  --background-color-button-accent: #ffffff;
  --background-color-dialog-backdrop: rgba(0, 0, 0, 0.75);
  --padding-inline-start: 10px;
  --padding-inline-end: 10px;
  --padding-block-start: 3px;
  --padding-block-start-title-first: 4px;
  --padding-block-end: 5.5px;
  --padding-block-end-title-first: 6px;
  --padding-header: 120px 14px;
  --padding-text: 25px;
  --padding-button: 0;
  --padding-dialog: 30px 39px;
  --padding-dialog-button: 12.5px 112.5px;
  --font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  --font-size-label: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --font-size-logo: clamp(2.5rem, -0.7727rem + 16.3636vw, 3.0625rem);
  --font-size-title: clamp(0.625rem, -0.8295rem + 7.2727vw, 0.875rem);
  --font-size-button: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --border: 2px solid currentColor;
  --border-color: transparent;
  --margin-block-start: 100px;
  --margin-block-start-section-memory: 51px;
  --margin-block-end: 100px;
  --margin-block-end-section-memory: 100px;
  --margin-inline-start: 34.5px;
  --margin-inline-end: 34.5px;
  --gap: 20px;
  --gap-header: 20px;
  --gap-list: 48.8px;
  --gap-text: 25px;
  --gap-button: 5px;
  --margin: 25px;
  --line-height-label: 100%;
  --line-height-text: 21px;
  --line-height-button: 90%;
  --line-height-button-text: 150%;
  --line-height-description: 21.1px;
  --name: #000000;
  --sparks-color: #ff0000;
  --accent-color: #000000;
  --accent-color-button: #ffffff;
  --accent-color-text-shadow: #ffffff;
  --accent-color-text-stroke: #ffffff;
  --accent-color-floppy: #ffffff;
}
